<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="30">
	<Properties>
		<Property name="LOG_PATTERN">
			%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n
		</Property>
	</Properties>
	<Appenders>
		<Console name="ConsoleAppender" target="SYSTEM_OUT" follow="true">
			<PatternLayout pattern="${LOG_PATTERN}" />
		</Console>

        <RollingFile name="DefaultAppender" fileName="logs/todo-api.log" filePattern="logs/todo-api-%d{yyyy-MM-dd}.log">
            <PatternLayout pattern="${LOG_PATTERN}"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true" />
            </Policies>
            <DefaultRolloverStrategy max="5"/>
        </RollingFile>		
	</Appenders>

	<Loggers>
		<!-- Spring Boot -->
		<Logger name="org.springframework.boot" level="INFO" additivity="false">
			<AppenderRef ref="ConsoleAppender" />
            <AppenderRef ref="DefaultAppender" />
		</Logger>

		<!-- Spring core -->
		<Logger name="org.springframework.core" level="INFO" additivity="false">
			<AppenderRef ref="ConsoleAppender" />
			<AppenderRef ref="DefaultAppender" />
		</Logger>

        <!-- swagger -->
        <Logger name="springfox" level="ERROR" additivity="false">
            <AppenderRef ref="ConsoleAppender" />
            <AppenderRef ref="DefaultAppender" />
        </Logger>

		<Logger name="org.springframework.beans" level="ERROR">
			<AppenderRef ref="ConsoleAppender" />
			<AppenderRef ref="DefaultAppender" />
		</Logger>

		<Logger name="org.springframework.web" level="ERROR">
			<AppenderRef ref="ConsoleAppender" />
			<AppenderRef ref="DefaultAppender" />
		</Logger>

		<Logger name="exceptions" level="ERROR">
            <AppenderRef ref="DefaultAppender" />
		</Logger>
		
		<Root level="INFO">
			<AppenderRef ref="ConsoleAppender" />
			<AppenderRef ref="DefaultAppender" />
		</Root>
	</Loggers>
</Configuration>
